.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-principal {
  /* Estilos adicionais para o cartão */
  background-color: #FFF;
  border: 1px solid #808080 ;
}

.form-field {
  width: 100%;
}

.card-header {
  justify-content: center;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-weight: 500;
}
