.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-principal {
  /* Estilos adicionais para o cartão */
  background-color: grey;
}

.texto-branco {
  color: white;
}
