<div class="container">
  <mat-card class="card-principal">
    <mat-card-header class ="card-header">
      <mat-card-title class="titulo">Seu Perfil</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="texto-branco">Usuario: {{usuario.username}}</p>
      <p class="texto-branco">Nome: {{usuario.nome}}</p>
      <p class="texto-branco">Idade: {{usuario.idade}}</p>
      <p class="texto-branco">CPF: {{conta.cpf}}</p>
      <p class="texto-branco">Saldo: {{conta.saldo}}</p>
  </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="btnAlterar()">Alterar Info</button>

      <button class ="botaodireito" mat-raised-button color="primary" (click)="btnRemover()">Deletar Conta</button>
    </mat-card-actions>
  </mat-card>
</div>
