<mat-toolbar color="primary">
  <div class="div-container">
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
  </div>
  <mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['ver-perfil']">Ver Perfil</button>
  <button mat-menu-item [routerLink]="['conversor-moedas']">Conversor de Moedas</button>
  <button mat-menu-item>Transferir Dinheiro</button>
  <button mat-menu-item [routerLink]="['']">Sair</button>

</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
